*.o
*.obj
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
*.exe
/minilang
/minipp
/build.rabs.db/
/minicbor/
/radb/
/mpc/
/.settings/
/.cproject
/.project
/obj*/
/bin/
/lib/
/tmp/
.vscode/
.pydevproject
.cquery
/test/
docs/_util/__pycache__
docs/_build
/html/
.ipynb_checkpoints
callgrind.*
