*.o
*.obj
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
*.exe
/minilang
/minipp
/build.rabs.db/
*_init.c
/minicbor/
/radb/
/mpc/
/.settings/
/.cproject
/.project
/obj/
/bin/
/lib/
/tmp/
.vscode/
.pydevproject
.cquery
/test/
